{% load i18n my_filters %}
<footer class="footer text-center bg-dark pt-4 pd-4 text-light">
    <div class="row">
        <div class="col my_social_icons">
            <p>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-vk"></i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <i class="far fa-copyright"></i>
                2018 Lorem ipsum dolor sit amet, consectetur 
                <span class="text-warning">КГТУ</span>
            </p>
        </div>
    </div>
</footer>